<template>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <p class="float-right">
          <button type="button" class="btn btn-danger" @click="delete_()" v-if="allow.DELETE">DELETE</button>
          <button type="button" class="btn btn-primary" @click="options()" v-if="allow.OPTIONS">OPTIONS</button>
          <button type="button" class="btn btn-primary" @click="get()" v-if="allow.GET">GET</button>
        </p>
        <h1 class="card-title">
          <span v-for="{ path, name } in pathComponents" :key="path"><a :href="path">{{name}}</a></span>
        </h1>

        <div class="card bg-light" v-if="request">
          <div class="card-body">
            <p class="mb-0"><strong>{{request.method}}</strong> {{request.path}}</p>
          </div>
        </div>

        <div class="card mt-4 bg-light" v-if="response" :class="response.ok ? request.method === 'OPTIONS' ? 'border-info' : 'border-success' : 'border-danger'">
          <div class="card-body">
            <h4 :class="response.ok ? request.method === 'OPTIONS' ? 'text-info' : 'text-success' : 'text-danger'">
              <span>HTTP {{ response.status }} {{ response.statusText }}</span>
              <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#headers" aria-expanded="false" aria-controls="headers">Headers</button>
            </h4>
            <div id="headers" class="collapse mb-2">
              <dl class="mb-0" v-for="(v, k) in response.headers" :key="k">
                <dt>{{ k }}:</dt>
                <dd>{{ v }}</dd>
              </dl>
            </div>
            <div class="data">
              <v-jsoneditor v-if="type === 'json'" v-model="userData" :options="{mode: 'view', modes: editable ? ['tree', 'view', 'code', 'text'] : ['view', 'code', 'text']}" />
              <iframe v-if="type === 'html'" :srcdoc="userData" class="form-control" />
              <textarea v-if="type === null" v-model="userData" class="form-control" rows="10" />
            </div>
            <p class="text-right mt-2 mb-0" v-if="editable && request.method !== 'OPTIONS'">
              <button type="button" class="btn btn-primary" @click="put()" v-if="allow.PUT">PUT</button>
              <button type="button" class="btn btn-primary" @click="patch()" v-if="allow.PATCH">PATCH</button>
            </p>
          </div>
        </div>

        <div class="card mt-4 bg-light" v-if="allow.POST">
          <div class="card-body">
            <h4>Create new resource</h4>
            <div class="data">
              <v-jsoneditor v-if="type === 'json'" v-model="postData" :options="{mode: 'code', modes: ['tree', 'view', 'code', 'text']}" />
              <textarea v-if="type !== 'json'" v-model="postData" class="form-control" rows="10" />
            </div>
            <p class="text-right mt-2 mb-0">
              <button type="button" class="btn btn-primary" @click="post()" v-if="allow.POST">POST</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import VJsoneditor from 'vue-jsoneditor';
import 'jsoneditor/dist/jsoneditor.min.css';

export default {
  name: 'Endpoint',
  components: {
    VJsoneditor,
  },
  props: {
    authenticate: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      allow: {
        GET: true,
        HEAD: true,
        OPTIONS: true,
        PUT: true,
        PATCH: true,
        DELETE: true,
        POST: true,
      },
      request: null,
      response: null,
      userData: null,
      postData: null,
      type: null,
    };
  },
  computed: {
    pathComponents() {
      return location.pathname.split(/(\/)/).filter(name => name).reduce((components, name) => [...components, { path: components.map(({ name }) => name).join('') + name, name }], []); // eslint-disable-line no-shadow
    },
    editable() {
      return this.allow.PUT || this.allow.PATCH;
    },
  },
  mounted() {
    this.sendRequest('GET');
  },
  methods: {
    async sendRequest(method, data) {
      const baseUrl = window.API_BASE_URL ? window.API_BASE_URL : (process.env.API_BASE_URL ? process.env.API_BASE_URL : location.origin);

      this.request = {
        method,
        path: location.pathname + location.search,
      };
      this.response = null;

      const headers = new Headers();
      if (this.authenticate) {
        const auth = this.authenticate(this.request);
        if (auth) {
          headers.append('Authorization', auth);
        }
      }

      let body;
      if (data) {
        let text;
        let mimetype;
        if (this.type === 'json') {
          text = JSON.stringify(data);
          mimetype = 'application/json';
        } else {
          text = data;
        }
        body = new Blob([text.split(location.origin).join(baseUrl)], { type: mimetype });
      }

      let response = null;
      try {
        response = await fetch(`${baseUrl}${this.request.path}`, {
          method: this.request.method,
          headers,
          body,
        });
      } catch (e) {
        response = e.response;
      }
      if (!response) {
        return;
      }

      if (response.redirected) {
        location.href = response.url.startsWith(baseUrl) ? response.url.substr(baseUrl.length) : response.url;
        return;
      }

      this.response = {
        url: response.url,
        ok: response.ok,
        status: response.status,
        statusText: response.statusText,
        headers: _.fromPairs([...response.headers.entries()]),
        body: (await response.text()).split(baseUrl).join(location.origin),
      };

      const contentType = this.response.headers['content-type'].split(';')[0]
      try {
        if (contentType === 'application/json') {
          this.response.data = JSON.parse(this.response.body);
          this.type = 'json';
        } else if (contentType === 'text/html') {
          this.response.data = this.response.body;
          this.type = 'html';
        } else {
          this.response.data = this.response.body;
        }
      } catch (e) {
        console.log(e);
        this.response.data = this.response.body;
      }

      this.userData = this.response.data;
      this.postData = this.type == 'json' ? {} : ''

      if (this.response.headers.allow) {
        this.allow = _.fromPairs(this.response.headers.allow.split(',').map(x => [x.trim(), true]));
      }
    },
    async get() {
      await this.sendRequest('GET');
    },
    async options() {
      await this.sendRequest('OPTIONS');
    },
    async delete_() {
      await this.sendRequest('DELETE');
    },
    async put() {
      await this.sendRequest('PUT', this.userData);
    },
    async patch() {
      await this.sendRequest('PATCH', this.userData);
    },
    async post() {
      await this.sendRequest('POST', this.postData);
    },
  },
};
</script>

<style scoped>
h1 > span { margin-right: 10px; }
h4 > * { vertical-align: middle; }
dl > * { display: inline; }
.data iframe { width: 100%; height: 400px; padding: 0; }
</style>

<style>
div.jsoneditor-tree { overflow: visible !important; }
</style>
