<template>
  <div id="app">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">

        <a class="navbar-brand" href="/">APIBrowser</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" />
        </button>
      </div>
    </nav>

    <Endpoint style="margin-top: 80px;" />
  </div>
</template>

<script>
import 'bootstrap';
import Endpoint from './components/Endpoint';

export default {
  name: 'App',
  components: {
    Endpoint,
  },
};
</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>
